body {
	margin: 65px auto 0 auto;
	font-family: Arial, Helvetica;
	font-size: small;
}

#banner {
	background: #D8D8D8;
	height: 50px;
}

#banner_text {
	font-family: futura, "trebuchet bs", arial, sans-serif;
	font-variant: small-caps;
	font-size: 100px;
	font-weight: 900;
	text-align: center;
	font-style: italic;
	position: relative;
	top: -65px;
	right: 100px;
}

#content {
	background: #FFFFFF;
	padding: 0px 15px 0px 15px;
	overflow: hidden;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
}

#page_wrapper {
	margin: 10px auto 0 auto;
	width: 1000px;
	box-shadow: 10px 10px 5px #888888;
}