.menu {
	padding: 0px 20px 0px 0px;
	margin-top: 10px
}

.menu a {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	padding: 10px;
	background: #8B8B8B;
	text-decoration: none;
	color: #FFFFFF;
	margin: 5px 0px 0px -15px;
}

.menu a:hover {
	background: #3D3D3D;
}

