.project {
	/*
	display: inline;
	float: right;
	width: 80%;
	height: 100%;
	margin-top: 0;
	padding-top: 0;
	*/
	
}

#right_column {
	float: right;
	width: 85%;
}

#left_column {
	float: left;
	width: 15%;
}

.project_title {
	font-variant: small-caps;
	font-weight: 600;
	font-size: 30px;
	margin: 10px 0px 10px 0px;
}