.slides_wrapper {
	text-align: center;
}

.slidesjs-pagination {
	display: none;
}

/*
.slidesjs-pagination li {
	display: inline;
	background: #3D3D3D;
	color: #FFFFFF;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.slidesjs-pagination li a {
	padding: 5px;
	margin: 10px;
	text-decoration: none;
	color: #000000;
	border-radius: 25px;
}
*/

.slidesjs-previous {
	float: left;
	margin-top: -10px;
	margin-left: -20px;
	display: block;
}

.slidesjs-previous img{
	width: 60px;
	height: 60px;
}

.slidesjs-next {
	float: right;
	margin-top: -10px;
	margin-right: -20px;
	display: block;
}

.slidesjs-next img {
	width: 60px;
	height: 60px;
}