/**
 * TODO: Fix tabs to evenly spread across the page, don't use padding to stretch
 * it out.
 */

#tabs_wrapper {
	background: #FFFFFF;
}

#tabs {
	background: #9C2E31;
}

#tabs ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

#tabs li {
	display: table-cell;
	padding: 10px;
	text-align: center;
	border: 2px solid;
}

#tabs a {
	font-size: medium;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

#tabs li:hover, #tabs a:hover, .current {
	background: #7D2527;
}

.not_current {
	background: #9C2E31;
}
