<div id="about_content">
	<h2>About Alterdyne</h2>
	<p>
		Alterdyne was formed in 1988 by Walt Kurczynski. He began his career
		working in an auto body restoration shop in Ontario, Canada where he
		learned how to do everything from minor rust repairs to major
		restoration projects. At the same time, he also picked up extra work at
		auto body shops which specialized in collision repair. It was at this
		point he realized fabrication was his passion.
	</p>
	<p>
		After serving his 4 year apprenticeship at various shops in the Niagara
		Peninsula, Walt earned his Auto Body license. Although this was a step
		forward, he was still not completely satisfied with the day to day
		challenges it brought him. In an effort to expand his knowledge and
		opportunities, he enrolled in the teachers program at Toronto University
		and received his teaching certificate. After graduating, he taught
		Industrial Arts/Auto body repair at different schools in the region.
		Very disillusioned by the environment Walt decided to step outside the
		boundaries and head for Southern California.
	</p>
	<p>
		While living his early adult life in Canada and working at various auto
		shops, Walt had also transported special interest cars from Southern
		California. During this time, he networked with with the locals who were
		involved in the custom car business. After a handful of trips to the
		Golden State, the warm weather and booming custom car industry had him
		captivated. Walt knew that California was the place to be.
	</p>
	<!--Have proof read from here up.-->
	<p>
		His first job in California was working for O'Gara Coach Works in Simi
		Valley. There, as a coach builder, he fabricated as well as installed
		custom body components. A short while later O'gara Coach Works moved to
		Cincinnati, Ohio and merged with the coach builder Hess and Isenhart and
		Walt was looking for new opportunities. This is when he met Gene Winfield
		of Canoga Park, California and struck up more than just a working
		relationship but also a friendship that would last a lifetime.
	</p>
	<p>
		Since Walt was a Canadian it was important that he address immigration
		issues and Gene was kind enough to help. With the skills Walt had from
		previous jobs and the different specialty jobs Rod and Custom did at the
		shop - Gene Winfield sponsored Walt into the USA. While working for Rod
		and Custom Walt did everything from building full body vehicles with
		composite materials as well as modifications and body building by means
		of metal shaping. After being employed by Rod and Custom for a number of
		years Walt went on to start his own custom shop under the name of
		Alterdyne in Chatsworth, California. He continues to work closely with
		Gene - who he considers one of his oldest and trusted friends - along
		with other local car builders and promoters.
	</p>
	<p>
		Over the years Alterdyne has built some of the most intriguing cars
		in the world as well as special interest autos for Royalty and
		celebrities alike. From simple movie props to complicated late model
		right hand drive conversions and outrageous world record limousines -
		the possibilities are endless. Alterdyne is now located in Temecula,
		California and places great emphasis on quality and customer satisfaction.
	</p>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>
