<div id="contact_content">
	<h2>Contact Alterdyne</h2>
	<p>
		If you would like more information about any of the services that
		Alterdyne offers, fell free to contact us at anytime!
	</p>
	<p>
		Email: <a href="mailto:alterdyne@msn.com?subject=General inquiry">alterdyne@msn.com</a>
	</p>
	<p>
		Phone: 951 375-7579
	</p>
	<p>
		Address: 41602 Corte Azulejo, Temecula, CA 92592
	</p>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>