<div id="custom_vehicles_content">
<div id="left_column">
<nav class="menu" id="custom_vehicles_menu">
	<a href="#" class="menu_option" id="ferrari_f40" onclick="loadMenuContent(this);">Ferrari F40</a>
	<a href="#" class="menu_option" id="apc" onclick="loadMenuContent(this);">Armored Personnel Carrier</a>
	<a href="#" class="menu_option" id="police_bike" onclick="loadMenuContent(this);">Back to the Future Police Bike</a>
	<a href="#" class="menu_option" id="police_car" onclick="loadMenuContent(this);">Back to the Future Police Car</a>
	<a href="#" class="menu_option" id="batcycle" onclick="loadMenuContent(this);">Batcycle</a>
	<a href="#" class="menu_option" id="elvis_car" onclick="loadMenuContent(this);">Elvis Car</a>
	<a href="#" class="menu_option" id="eiffel_tower_car" onclick="loadMenuContent(this);">Eiffel Tower Car</a>
	<a href="#" class="menu_option" id="flinstone_car" onclick="loadMenuContent(this);">Flintstones Car</a>
	<a href="#" class="menu_option" id="marylin_monroe_car" onclick="loadMenuContent(this);">Marilyn Monroe Car</a>
	<a href="#" class="menu_option" id="batmobile" onclick="loadMenuContent(this);">Batmobile</a>
</nav>
</div>
<div id="right_column">
<div class="project" id="ferrari_f40_content">
	<p class="project_title">Ferrari F-40</p>
	<p>
		Walt Kurczynski of Alterdyne engaged in a start to completion project of
		the F-40 conversion body plug. He started by removing all the sheet
		metal panels from a 308 Ferrari and restyling it to Ferrari F-40 body
		specs. The technique (wooden slats over a series of bulkheads and then
		final shaping done with a polyester filler) that was used was the same
		as one used in the early days by auto design shops.  It is still used
		today in some low product vehicle projects. This procedure also assures
		great accuracy and control in symmetry from side to side ("y" plain).
		After the plug was completed molds were constructed and a low volume
		production of the car was performed.
	</p>

	<div class="slides_wrapper">
		<div id="ferrari_f40_slides">
			<img id="f40_image3" src="pictures/308-f40_ferrari_conversion/2.jpeg" />
			<img id="f40_image1" src="pictures/308-f40_ferrari_conversion/0.jpeg" />
			<img id="f40_image2" src="pictures/308-f40_ferrari_conversion/1.jpeg" />
			<img id="f40_image4" src="pictures/308-f40_ferrari_conversion/3.jpeg" />
			<img id="f40_image5" src="pictures/308-f40_ferrari_conversion/4.jpeg" />
			<img id="f40_image6" src="pictures/308-f40_ferrari_conversion/5.jpeg" />
			<img id="f40_image7" src="pictures/308-f40_ferrari_conversion/6.jpeg" />
			<img id="f40_image8" src="pictures/308-f40_ferrari_conversion/7.jpeg" />
			<img id="f40_image9" src="pictures/308-f40_ferrari_conversion/8.jpeg" />
			<img id="f40_image10" src="pictures/308-f40_ferrari_conversion/9.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="apc_content">
	<p class="project_title">Armored Personnel Carrier</p>
	<p>
		APC-Derived from the APC used in World War II, Alterdyne installed a new
		drive train (2.3 Turbo Charged Ford engine with an Art Carr custom
		transmission) and a fitted custom body on the original chassis. It has
		been used in numerous promotions over the last few years - the most
		recent, in an episode of Storage Wars with Barry Weiss at the helm.
	</p>

	<div class="slides_wrapper">
		<div id="apc_slides">
			<img id="apc_image1" src="pictures/apc/0.jpeg" />
			<img id="apc_image2" src="pictures/apc/1.jpeg" />
			<img id="apc_image3" src="pictures/apc/2.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="police_bike_content">
	<p class="project_title">Back to the Future Police Bike</p>
	<p>
		This motorcycle was originally built for the movie "Back To The Future
		II" - it was based on a 350 Kawasaki chassis that Alterdyne was
		commissioned to build several body modifications for, as well as mounting
		it on to a later model Harley Davidson Sportster chassis.
	</p>

	<!--
	FIXME: The slideshow doesn't work with just one item so I doubled up the
	only item to be shown. Figure out how to make the slideshow work with
	one item.
	-->
	<div class="slides_wrapper">
		<div id="police_bike_slides">
			<img id="police_bike_image1" src="pictures/back_to_the_future_police_bike/0.jpeg" />
			<img id="police_bike_image1" src="pictures/back_to_the_future_police_bike/0.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="police_car_content">
	<p class="project_title">Back to the Future Police Car</p>
	<p>
		Gene Winfield of Rod and Custom and Walt Kurczynski constructed this
		futuristic police car for the movie ,"Back To The Future II" - the
		vehicle was non functioning and used mainly as a prop.
	</p>

	<div class="slides_wrapper">
		<div id="police_car_slides">
			<img id="police_car_image3" src="pictures/back_to_the_future_police_car/2.jpeg" />
			<img id="police_car_image1" src="pictures/back_to_the_future_police_car/0.jpeg" />
			<img id="police_car_image2" src="pictures/back_to_the_future_police_car/1.jpeg" />
			<img id="police_car_image4" src="pictures/back_to_the_future_police_car/3.jpeg" />
			<img id="police_car_image5" src="pictures/back_to_the_future_police_car/4.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="batcycle_content">
	<p class="project_title">Batcycle</p>
	<p>
		This was modeled using urethane foam - then building tools and parts of
		polyester fiberglass.  The batcycle was used in many Batman productions.
	</p>

	<div class="slides_wrapper">
		<div id="batcycle_slides">
			<img id="batcycle_image3" src="pictures/batcycle/2.jpeg" />
			<img id="batcycle_image1" src="pictures/batcycle/0.jpeg" />
			<img id="batcycle_image2" src="pictures/batcycle/1.jpeg" />
			<img id="batcycle_image4" src="pictures/batcycle/3.jpeg" />
			<img id="batcycle_image5" src="pictures/batcycle/4.jpeg" />
			<img id="batcycle_image6" src="pictures/batcycle/5.jpeg" />
			<img id="batcycle_image7" src="pictures/batcycle/6.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="elvis_car_content">
	<p class="project_title">Elvis Car</p>
	<p>
		This car which was a tribute to Elvis and was hand built by Alterdyne
		for an auto show in Essen Germany and went on to tour Europe. It is now
		on display at an auto museum in Chicago The technique used to construct
		this car was similar as that used by many Italian custom auto designers
		for prototype vehicles.  Since the completion of this car, Alterdyne
		have been using surface plates to construct vehicles, ensuring greater
		accuracy.
	</p>

	<div class="slides_wrapper">
		<div id="elvis_car_slides">
			<img id="elvis_car_image1" src="pictures/elvis_car/1.jpeg" />
			<img id="elvis_car_image2" src="pictures/elvis_car/0.jpeg" />
			<img id="elvis_car_image3" src="pictures/elvis_car/2.jpeg" />
			<img id="elvis_car_image4" src="pictures/elvis_car/3.jpeg" />
			<img id="elvis_car_image5" src="pictures/elvis_car/4.jpeg" />
			<img id="elvis_car_image6" src="pictures/elvis_car/5.jpeg" />
			<img id="elvis_car_image7" src="pictures/elvis_car/6.jpeg" />
			<img id="elvis_car_image8" src="pictures/elvis_car/7.jpeg" />
			<img id="elvis_car_image9" src="pictures/elvis_car/8.jpeg" />
			<img id="elvis_car_image10" src="pictures/elvis_car/9.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="eiffel_tower_car_content">
	<p class="project_title">Eiffel Tower Car</p>
	<p>
		A small miniature of the Eiffel tower purchased in a souvenir shop in
		Paris was used as the model for this car. After construction it was
		mounted on a custom built chassis using a Sherman tank engine as a drive
		train.  This vehicle was built for the European show circuit.
	</p>

	<div class="slides_wrapper">
		<div id="eiffel_tower_car_slides">
			<img id="eiffel_car_image3" src="pictures/eiffel_tower_car/2.jpeg" />
			<img id="eiffel_car_image3" src="pictures/eiffel_tower_car/2.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="flinstone_car_content">
	<p class="project_title">Flintstones Car</p>
	<p>
		All components were carved from urethane foam and then fiberglass parts
		were made to construct the vehicle. The Flintstone car was used for the
		domestic car show market.
	</p>

	<!--
	FIXME: The slideshow doesn't work with just one item so I doubled up the
	only item to be shown. Figure out how to make the slideshow work with
	one item.
	-->
	<div class="slides_wrapper">
		<div id="flinstone_car_slides">
			<img id="flinstone_image1" src="pictures/flinstone_car/0.jpeg" />
			<img id="flinstone_image1" src="pictures/flinstone_car/0.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="marylin_monroe_car_content">
	<p class="project_title">Marilyn Monroe</p>
	<p>
		Based on a 1957 Cadillac coupe de ville this car was built by
		Alterdyne located in Inglewood California at the time of
		construction, the hood mounted Marilyn was formed from urethane foam
		and her shawl waving in the wind from the rear of the vehicle was
		made of light gauge sheet metal, the car was a tribute to Marilyn
		Monroe and displayed at the Essen Motor Show in Essen Germany.
	</p>

	<div class="slides_wrapper">
		<div id="marylin_monroe_car_slides">
			<img id="marylin_car_image2" src="pictures/marylin_monroe_car/1.jpeg" />
			<img id="marylin_car_image1" src="pictures/marylin_monroe_car/0.jpeg" />
			<img id="marylin_car_image3" src="pictures/marylin_monroe_car/2.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="batmobile_content">
	<p class="project_title">Batmobile (TV Series)</p>
	<p>
		Walt Kurczynski played a big part in the construction of this
		vehicle, the body was formed of 18 gauge sheet metal over a tubular
		frame. The base vehicle was a 1957 Ford Lincoln, after completion the
		car war shipped to New Zealand for promotional consideration.
	</p>

	<div class="slides_wrapper">
		<div id="batmobile_slides">
			<img id="batmobile_image2" src="pictures/tv_series_batmobile/1.jpeg" />
			<img id="batmobile_image1" src="pictures/tv_series_batmobile/0.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>
</div>


<script>
	$(function() {
		$('#ferrari_f40_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#apc_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false,
		});

		$('#police_bike_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#police_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#batcycle_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#elvis_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#eiffel_tower_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#flinstone_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#marylin_monroe_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#batmobile_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});
	}); 
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>