<div id="home_content">
	<h2 style="margin-bottom: 0;">What Alterdyne does</h2>
	<div id="text_wrapper" style="float: left; width: 50%;">
		<p>
			Alterdyne was founded by Walt Kurczynski in 1988 in the San Fernando
			Valley. The goal of Alterdyne was to create an establishment that
			could produce high quality fabrication with artistic value.
		</p>
		<p>
			As years went on those goals were met by producing some of the most
			recognizable limousines in the world and using cutting edge
			techniques to complete right hand drive conversions. Alterdyne now
			continues to produce special interest vehicles in low volume focusing
			on quality and ascetics. Unlike most other automotive shops that
			work with only a single fabrication such as metal or composites,
			Alterdyne excels in working with the combination the following:
		</p>
		<p>
			<span class="bullet">Metals</span>
			<br />
			From structural steel to sheet metal shaping as well as welding through different systems.
		</p>
		<p>
			<span class="bullet">Woods</span>
			<br />
			Often used for form making to producing patterns by way of lofting.
		</p>
			<span class="bullet">Plastics</span>
			<br />
			Sheet forming to vacuumed silicone tooling for different casting resin systems to carving urethane foam as patterns/models.
		<p>
			<span class="bullet">Composites</span>
			<br />
			Polyester open face tools and parts - epoxy, RTM tooling and everything in between.
		</p>
	</div>
	
	<img style="width: 400px; float: right;" src="pictures/alterdyne_logo.jpg"/>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>
