<div id="limos_content">
<div id="left_column">
<nav class="menu" id="limos_menu">
	<a href="#" class="menu_option" id="ferrari_limo" onclick="loadMenuContent(this);">Ferrari F40</a>
	<a href="#" class="menu_option" id="widest_car" onclick="loadMenuContent(this);">World's Widest</a>
	<a href="#" class="menu_option" id="mercedes_limo" onclick="loadMenuContent(this);">Forty Foot Mercedes</a>
	<a href="#" class="menu_option" id="longest_limo" onclick="loadMenuContent(this);">Seventy-two Foot Cadillac</a>
</nav>
</div>

<div id="right_column">
<div class="project" id="ferrari_limo_content">
	<p class="project_title">Ferrari F-40</p>
	<p>
		The year that Ferrari debuted it's F-40, Alterdyne was commissioned by a
		Hollywood auto promoter to construct a limousine version of the car. All
		body panels were shaped with 18 gauge sheet metal on a modified Chevy
		Fiero chassis. After completion the car was shipped to Germany to embark
		on a European tour.
	</p>

	<div class="slides_wrapper">
		<div id="ferrari_limo_slides">
			<img src="pictures/f40_ferrari_limo/2.jpeg" />
			<img src="pictures/f40_ferrari_limo/0.jpeg" />
			<img src="pictures/f40_ferrari_limo/1.jpeg" />
			<img src="pictures/f40_ferrari_limo/3.jpeg" />
			<img src="pictures/f40_ferrari_limo/4.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="widest_car_content">
	<p class="project_title">World's Widest Car</p>
	<p>
		A Hollywood auto promoter commissioned Alterdyne to construct this
		outrageously wide Cadillac limousine for The Essen Motor Show in
		Germany. The main purpose of the vehicle was prop value due to it's
		overwhelming width in reference to public streets. It was created by
		marrying two mid 70's Cadillac Eldorados together and restyling it's
		body panels to give it a single car look. It measured approximately 32'
		long and 15' wide.
	</p>

	<div class="slides_wrapper">
		<div id="widest_car_slides">
			<img src="pictures/widest_car/1.jpeg" />
			<img src="pictures/widest_car/0.jpeg" />
			<img src="pictures/widest_car/2.jpeg" />
			<img src="pictures/widest_car/3.jpeg" />
			<img src="pictures/widest_car/4.jpeg" />
			<img src="pictures/widest_car/5.jpeg" />
			<img src="pictures/widest_car/6.jpeg" />
			<img src="pictures/widest_car/7.jpeg" />
			<img src="pictures/widest_car/8.jpeg" />
			<img src="pictures/widest_car/9.jpeg" />
			<img src="pictures/widest_car/10.jpeg" />
			<img src="pictures/widest_car/11.jpeg" />
			<img src="pictures/widest_car/12.jpeg" />
			<img src="pictures/widest_car/13.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="mercedes_limo_content">
	<p class="project_title">Forty Foot Mercedes</p>
	<p>
		Built again for Hollywood auto promoter, this slim lined auto was used
		in numerous auto shows throughout Europe and Asia and was also featured
		on the hit television series, “The Rich and Famous”. Even though it was
		used mainly as a promotional tool it was constructed to travel at
		today's highway speeds in complete comfort.
	</p>

	<div class="slides_wrapper">
		<div id="mercedes_limo_slides">
			<img src="pictures/mercedes_limo/0.jpeg" />
			<img src="pictures/mercedes_limo/1.jpeg" />
			<img src="pictures/mercedes_limo/2.jpeg" />
			<img src="pictures/mercedes_limo/3.jpeg" />
			<img src="pictures/mercedes_limo/4.jpeg" />
			<img src="pictures/mercedes_limo/5.jpeg" />
			<img src="pictures/mercedes_limo/6.jpeg" />
			<img src="pictures/mercedes_limo/7.jpeg" />
			<img src="pictures/mercedes_limo/8.jpeg" />
			<img src="pictures/mercedes_limo/9.jpeg" />
			<img src="pictures/mercedes_limo/10.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="longest_limo_content">
	<p class="project_title">Seventy-two Foot Cadillac</p>
	<p>
		Constructed by Alterdyne in 1989 for a Finish promoter, the car was
		built at the Alterdyne shop in Chatsworth California, then shipped to 
		Helsinki Finland to begin a World tour. In 1989 it was labeled the
		longest car in the world and was registered in the European edition of
		the Guinness Book Of World Records as the longest car in the world.
	</p>

	<div class="slides_wrapper">
		<div id="longest_limo_slides">
			<img src="pictures/longest_limo/1.jpeg" />
			<img src="pictures/longest_limo/0.jpeg" />
			<img src="pictures/longest_limo/2.jpeg" />
			<img src="pictures/longest_limo/3.jpeg" />
			<img src="pictures/longest_limo/4.jpeg" />
			<img src="pictures/longest_limo/5.jpeg" />
			<img src="pictures/longest_limo/6.jpeg" />
			<img src="pictures/longest_limo/7.jpeg" />
			<img src="pictures/longest_limo/8.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>
</div>

<script>
	$(function() {
		$('#ferrari_limo_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#widest_car_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#mercedes_limo_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false,
		});

		$('#longest_limo_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});
	}); 
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>
