<div id="rhd_content">
<div id="left_column">
<nav class="menu" id="right_hand_drive_menu">
	<a href="#" class="menu_option" id="camero_rhd" onclick="loadMenuContent(this);">Camaro</a>
	<a href="#" class="menu_option" id="avanti_rhd" onclick="loadMenuContent(this);">Avanti</a>
	<a href="#" class="menu_option" id="delorean_rhd" onclick="loadMenuContent(this);">Delorean</a>
</nav>
</div>

<div id="right_column">
<div class="project" id="camero_rhd_content">
	<p class="project_title">Fourth Generation Camaro (1993-2002)</p>
	<p>
		Automotive company Motorvation of Bangkok Thailand commissioned Alterdyne
		to model all dash components, engineer steering parts and perform all
		other necessary tasks to convert a 1993 Camaro from left hand drive to
		right hand drive. The pictures show how the modeling of the dash was done
		using a lofting technique a procedure commonly used in early aircraft
		design. All heater and air conditioning components required were to be
		reproduced in a mirror image, all tooling was resin transfer (also shown
		here). After the completion of the first car, all tooling needed for a
		low production run of this vehicle was designed and built by Alterdyne.
		The completed vehicles were sent to Asia as well as the South Pacific.
	</p>

	<div class="slides_wrapper">
		<div id="camero_rhd_slides">
			<img src="pictures/camero_rhd_conversion/1.jpeg"/>
			<img src="pictures/camero_rhd_conversion/0.jpeg"/>
			<img src="pictures/camero_rhd_conversion/2.jpeg"/>
			<img src="pictures/camero_rhd_conversion/3.jpeg"/>
			<img src="pictures/camero_rhd_conversion/4.jpeg"/>
			<img src="pictures/camero_rhd_conversion/5.jpeg"/>
			<img src="pictures/camero_rhd_conversion/6.jpeg"/>
			<img src="pictures/camero_rhd_conversion/7.jpeg"/>
			<img src="pictures/camero_rhd_conversion/8.jpeg"/>
			<img src="pictures/camero_rhd_conversion/9.jpeg"/>
			<img src="pictures/camero_rhd_conversion/10.jpeg"/>
			<img src="pictures/camero_rhd_conversion/11.jpeg"/>
			<img src="pictures/camero_rhd_conversion/12.jpeg"/>
			<img src="pictures/camero_rhd_conversion/13.jpeg"/>
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="avanti_rhd_content">
	<p class="project_title">Avanti</p>
	<p>
		When Avanti began producing their cars once again in 1989 in South Bend
		Indiana, the Royal Family of Brunei purchased a 2 door coupe model. They
		sent it to Alterdyne, located in Chatsworth California at the time, for
		a right hand drive conversion and numerous other electronic upgrades.
	</p>

	<div class="slides_wrapper">
		<div id="avanti_rhd_slides">
			<img src="pictures/avanti_rhd_conversion/1.jpeg" />
			<img src="pictures/avanti_rhd_conversion/0.jpeg" />
			<img src="pictures/avanti_rhd_conversion/2.jpeg" />
			<img src="pictures/avanti_rhd_conversion/3.jpeg" />
			<img src="pictures/avanti_rhd_conversion/4.jpeg" />
			<img src="pictures/avanti_rhd_conversion/5.jpeg" />
			<img src="pictures/avanti_rhd_conversion/6.jpeg" />
			<img src="pictures/avanti_rhd_conversion/7.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="delorean_rhd_content">
	<p class="project_title">Delorean "Back to the Future" Reproduction</p>
	<p>
		This particular car was built by Alterdyne for the Royal Family of Brunei
		(Prince Sofery.)  The original motor was replaced with a Buick Grand
		National V-6 high performance motor to which we added twin turbochargers.
		At the request of the royal  family, the steering configuration was changed
		to right hand drive but all the exterior aesthetics were fabricated and
		built into the vehicle to mimic the car that starred in the movie,
		"Back To The Future".
	</p>

	<div class="slides_wrapper">
		<div id="delorean_rhd_slides">
			<img src="pictures/delorean_rhd_conversion/0.jpeg" />
			<img src="pictures/delorean_rhd_conversion/1.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>
</div>
<script>
	$(function() {
		$('#camero_rhd_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#avanti_rhd_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false,
		});

		$('#delorean_rhd_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});
	}); 
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>
