<div id="special_projects_content">
<div id="left_column">
<nav class="menu" id="special_projects_menu">
	<a href="#" class="menu_option" id="suicide_door" onclick="loadMenuContent(this);">Suicide Door Modification</a>
	<a href="#" class="menu_option" id="cadillac_table" onclick="loadMenuContent(this);">Cadillac Coffee Table</a>
	<a href="#" class="menu_option" id="wall_art" onclick="loadMenuContent(this);">V-Time Wall Art</a>
</nav>
</div>

<div id="right_column">
<div class="project" id="suicide_door_content">
	<p class="project_title">Suicide Door Modification</p>
	<p>
		Alterdyne was commissioned by Hollywood Ford/Mercury to reverse the rear
		door hinge location on a new Lincoln sedan. The challenging part of the
		job was to use only one hinge because of room restraints. After the
		fabrication was complete there was virtually zero sag when opening the
		door.
	</p>

	<div class="slides_wrapper">
		<div id="suicide_door_slides">
			<img src="pictures/hollywood_lincoln_mercury/2.jpeg" />
			<img src="pictures/hollywood_lincoln_mercury/0.jpeg" />
			<img src="pictures/hollywood_lincoln_mercury/1.jpeg" />
			<img src="pictures/hollywood_lincoln_mercury/3.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="cadillac_table_content">
	<p class="project_title">Cadillac Coffee Table</p>
	<p>
		People would always come into the shop with unique ideas and hire us to
		bring them to life. In this case, Ron Main (land speed record holder)
		approached us to design and build him a coffee table that would fit in
		with the auto theme he had created at his house - the custom made piece
		of furniture fit in perfectly.
	</p>

	<!--
	FIXME: The slideshow doesn't work with just one item so I doubled up the
	only item to be shown. Figure out how to make the slideshow work with
	one item.
	-->
	<div class="slides_wrapper">
		<div id="cadillac_table_slides">
			<img src="pictures/59_cadillac_coffee_table/0.jpeg" />
			<img src="pictures/59_cadillac_coffee_table/0.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>

<div class="project" id="wall_art_content">
	<p class="project_title">V-Time Wall Art</p>
	<p>
		Over the years Walt has produced many items other than vehicles - one of
		those is the V-Time Wall Art. The wall mount represents a full size V
		style motorcycle engine and in some styles has a clock built into the
		air breather. The units were originally made by rotational molding but
		then went on to be produced by injection. The motor is made of a heavy
		ABS plastic,the exhaust is steel and the display faces are aluminum.
		sThousands have been sold world wide.
	</p>

	<!--
	FIXME: The slideshow doesn't work with just one item so I doubled up the
	only item to be shown. Figure out how to make the slideshow work with
	one item.
	-->
	<div class="slides_wrapper">
		<div id="wall_art_slides">
			<img src="pictures/v-time_wall_art/0.jpeg" />
			<img src="pictures/v-time_wall_art/0.jpeg" />
			<a href="#" class="slidesjs-previous slidesjs-navigation"><img src="left_arrow.png"/></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><img src="right_arrow.png"/></a>
		</div>
	</div>
</div>
</div>


<script>
	$(function() {
		$('#suicide_door_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});

		$('#cadillac_table_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false,
		});

		$('#wall_art_slides').slidesjs({
			width : 940,
			height : 650,
			navigation : false
		});
	}); 
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45444313-1', 'alterdyne.net');
  ga('send', 'pageview');

</script>
</div>